@charset "UTF-8";
/******************轮播图******************/
.carousel {
  position: relative;
  height: 420px; }

.carousel-img {
  height: 420px; }
  .carousel-img a {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    display: none; }
    .carousel-img a img {
      width: 100%;
      height: 420px; }

.carousel-img a:first-child {
  opacity: 1;
  display: block; }

.carousel-control {
  position: absolute;
  top: 50%;
  width: 100%; }
  .carousel-control a {
    width: 50px;
    height: 50px;
    background: #D0C4AF;
    text-align: center;
    font: 30px/50px 'Microsoft Yahei';
    color: #fff;
    border-radius: 50%; }
  .carousel-control .carousel-control-prev {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 100px; }
  .carousel-control .carousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    right: 100px; }

.carousel-btn {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%);
  padding: 4px 8px;
  font-size: 0;
  border-radius: 9px; }

.carousel-btn a {
  margin: 0 4px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff; }

.carousel-btn .active {
  box-shadow: 0 0 0 5px #D0C4AF;
  background: transparent; }
